body {
    background: #ffffffff;
    margin: 0;
    padding-left: 0;
}
.drawer {
  width: 280px;
  height: 100vh;
  position: fixed;
  left: -280px;
  top: 0;
  background-color: #ffecfa;
  transition: left 0.8s ease;
  border: 0;
  border-radius: 5px;
}
.drawer.open {
  left: 0;
}
.drawercontent {
    margin-left: 20;
}
.content {
  margin-left: 200px;
}
.cabecalho {
    background: linear-gradient(to right, #06bee1, #662e9b);
    box-shadow: 1px 2px 2px 2px #9fb0bc;
    justify-content: space-evenly;
}
.botao_list {
  background-color: transparent;
  border: none;
  align-items: left;
}
center {
    color: white;
    font-size: 20px;   
    font-style: italic;
    margin-top: -30;
}
.del_button {
    background-color: #3cb0cd;
    color: black;
}
.edit_button {
    background-color: #c0f8d1;
    color: black;
}
a {
    color: black;
    border: 0;
}
button {
    color: black;
    border: 0;
    border-radius: 3px;
}
.botao_cadastro {
    width: 85px;
    height: 35px;
    border-radius: 3px;
    background-color: #662e9b;
    color: white;
}
.botao_cadastro:hover {
    background-color: #362e9b;
}
